@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner section style  */
.banner-container{
    max-width: 1450px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 74px;
}
.banner-image{
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-top: 26px;
}
.banner-image img{
    width: 100%;
    height: 100%;   
}
.banner-container h1{
    color: rgb(13, 19, 33);
    font-size: 45px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Azeret Mono;
    margin-top: 22px;
}
.banner-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Azeret Mono;
    opacity: .7;
    margin-top:20px;
}
.banner-btn{
    text-align: center;
    margin-top: 30px;
}
.banner-btn button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: Azeret Mono;
}